*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a,ul{
  list-style: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(60deg , rgba(21, 249, 123, 0.344) 10% , rgba(76, 251, 178, 0.249) 90%);
  flex-direction: column;
  justify-content: space-around;
}

.todo{
  background: rgba(128, 255, 0, 0.189);
  height: 60%;
  width: 60%;
  max-width: 400px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-task{
  padding: 10px 20px;
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  border: 2px solid rgba(106, 255, 0, 0.427);
}

.input-field{
  padding: 10px 20px;
  font-size: 1.5rem;
  width: 60%;
  outline: none;
  border: none;
  border-radius: 12px;
  color: rgba(255, 166, 0, 0.797);
}

.input-btn{
  padding: 10px;
  color: rgba(255, 166, 0, 0.797);
  border: 4px solid rgba(172, 255, 47, 0.7);
  border-radius: 6px;
  margin-left: 10px;
  font-size: 1rem;
}

.list-item{
  border: 4px solid rgba(136, 255, 0, 0.775);
  padding: 10px 20px;
  border-radius: 6px;
  width: 80%;
  max-width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
}

.item{

}

.item-desc{
  display: flex;
  font-size: 1.2rem;
  color: rgba(6, 6, 6, 0.681);
  align-items: center;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}



.task-total{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(179, 255, 0, 0.826);
  padding: 10px 20px;
}

.total{
  font-size: 1rem;
  font-weight: 500;
}
.total span{
  padding: 4px;
  font-weight: 700;
  color: rgb(255, 113, 36);
}

.all-delete{
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.232);
}
